In [1]:
import gzip
import json
import pandas as pd
import os
import requests

tweets = []
with open("./filtered") as f:
    for line in f.readlines():
        tweets.append(json.loads(line))
        
dataset = pd.DataFrame(tweets)
print len(dataset)

# Create additional columns
dataset['screen_name'] = dataset.user.map(lambda x: x['screen_name'].lower())
dataset['name'] = dataset.user.map(lambda x: x['name'].lower())
dataset['statuses_count'] = dataset.user.map(lambda x: x['statuses_count'])
dataset['followers_count'] = dataset.user.map(lambda x: x['followers_count'])
dataset['text_lower'] = dataset.text.apply(lambda x: x.lower())

418

In [7]:
# guess country from coodrinates
def get_reverse_geocoding(coordinates):
    response = requests.get("http://api.geonames.org/countryCode?lng="
                           + str(coordinates[0]) + "&lat=" + str(coordinates[1]) + "&username=a01200356")
    text = response.text
    if len(text) > 4:
        return None
    return text[:2]

tweets_with_coordinates = dataset.dropna(subset=['coordinates'])
tweets_with_coordinates['country'] = tweets_with_coordinates.coordinates.map(lambda x: get_reverse_geocoding(x['coordinates']))
tweets_with_coordinates = tweets_with_coordinates.dropna(subset=['country'])
# print tweets_with_coordinates['country']

# get country from place
tweets_with_place = dataset.dropna(subset=['place'])
tweets_with_place['country'] = tweets_with_place.place.map(lambda x: x['country_code'])
# print tweets_with_place['country']

# get country from user location
tweets_with_location = dataset
tweets_with_location['country'] = tweets_with_location.user.map(lambda x: x['location'])
# print tweets_with_place['country']

# merge resulting datasets
tweets_with_country = pd.concat([tweets_with_coordinates, tweets_with_place], join='outer')
tweets_with_country = pd.concat([tweets_with_coordinates, tweets_with_location], join='outer')
tweets_with_country = tweets_with_country.dropna(subset=['country'])
# print tweets_with_country[['screen_name' ,'country']]

# count
country_counts = tweets_with_country[['country', 'text_lower']].groupby('country').agg('count').rename(columns={'text_lower': 'count'}).sort('count', ascending=False)

pd.set_option('display.max_rows', 1000)
print country_counts

                                                count
country
worldwide                                          24
San Mateo, CA                                      20
Chicago, Global Headquarters                       18
Worldwide                                          12
Vancouver, British Columbia                         6
Cincinnati, Ohio (HQ)                               6
Atlanta, GA                                         5
World Wide                                          4
New York, NY                                        4
Plano, TX                                           4
United Kingdom                                      4
India                                               3
Canada                                              3
New York                                            3
Star,AB                                             3
Schenectady, N.Y.                                   3
Global                                              3
Woburn, MA                                          3
Bengaluru, India                                    3
Tokyo, Japan                                        2
Were am Called!!!                                   2
Charlotte, NC                                       2
London                                              2
Milwaukee, Wisconsin                                2
FOLLOWS YOU                                         2
Baden, Switzerland                                  2
2016年9月香港/バンコク/ハノイ/ダナン                              2
Inglaterra, Reino Unido                             2
San Francisco, CA                                   2
NAIROBI, KENYA                                      2
Paris, France                                       2
Southeast Wisconsin                                 2
Richmond, Virginia                                  1
Roma                                                1
Saudi Arabia, Eastern Province                      1
Rome,Italy - Rio De Janeiro                         1
Rhinebeck, NY                                       1
Sao Paulo, Brazil                                   1
Santiago de Chile - Chile.                          1
San Miguel Bulacan                                  1
San Francisco Bay Area                              1
Roswell, GA                                         1
SF                                                  1
Rosemont, PA                                        1
Philadelphia, PA                                    1
Reus                                                1
Oak Park, IL                                        1
New York, USA                                       1
NewJersey                                           1
Newcastle, Northern Ireland                         1
Nigeria                                             1
Northwest                                           1
Norton, OH                                          1
Notre Dame                                          1
Nouvelle-Calédonie                                  1
On the golf course                                  1
Republic of the Philippines                         1
Orlando, FL                                         1
Out deh                                             1
Pathum Wan, Bangkok                                 1
Peachtree City, GA                                  1
People's Republic of China                          1
Philippines                                         1
Phoenix, Arizona                                    1
Raipur, India                                       1
Seattle                                             1
 Central & Eastern Europe                           1
Seattle, WA                                         1
Warsaw, Poland                                      1
Washington, DC                                      1
We're global!                                       1
West Covina, CA                                     1
Zurich, Switzerland                                 1
aux armes citoyens                                  1
ig iskhandarmurad                                   1
iran tehran rey                                     1
midwest                                             1
nairobi                                             1
pakistan                                            1
sunol, CA                                           1
want to set nearby MANNAT                           1
west hartford, ct                                   1
yorkshier_^^_Englend, UK                            1
İstanbul, Türkiye                                   1
東京都千代田区外神田1-11-5 スーパービル5F                           1
東海地方のどこか、常時睡眠不足の国。ときどき佐世保鎮守府。                       1
神奈川県川崎市                                             1
대한민국                                                1
Washington, D.C.                                    1
Valera, Venezuela                                   1
Somewhere on Earth                                  1
Utrecht, Nederland                                  1
South Africa                                        1
South of Boston usually                             1
Standish, Wigan                                     1
Stuck in the Caribbean ☀                            1
Suffolk                                             1
New York, New York                                  1
Tampere, Suomi                                      1
Taytay Rizal                                        1
Tech Square, Atlanta, GA                            1
The European Medical Journal                        1
Trieste, Friuli-Venezia Giulia                      1
Tulsa, OK                                           1
Türkiye                                             1
UK                                                  1
US (CA·DC·GA·NY·TX), UK & CH                        1
US Based                                            1
USA                                                 1
United States                                       1
Upstate NY                                          1
Sultan                                              1
NYC NY USA                                          1
New York x Chicago                                  1
England, United Kingdom                             1
Chicago, IL                                         1
Cincinnati                                          1
Colorado                                            1
Cuauhtémoc, Distrito Federal                        1
Côte d'Ivoire                                       1
DC / London / ATL                                   1
Dallas, Texas                                       1
Denton, TX                                          1
Dives-sur-Mer, France                               1
España                                              1
Chennai Tamilnadu South India                       1
Florida USA                                         1
Fontvieille, Monaco                                 1
Fort Myers, FL                                      1
Germany                                             1
Gidderbaha                                          1
Gn.Fuvahmulah, Maldives                             1
Haddonfield NJ                                      1
Heaven                                              1
Helsinki                                            1
Chicago                                             1
Charlottesville, VA                                 1
New York City, NY                                   1
Bogotá, D.C., Colombia                              1
4.86947,-74.062224                                  1
A Coruña, Galicia, Spain.                           1
Asbury Park, NJ                                     1
At an airport or a beach                            1
Bangalore, India                                    1
Barranquilla, Colombia                              1
BieberLand ♥,♥!                                     1
Blacksburg, VA                                      1
Blue Planet                                         1
Boise, Idaho                                        1
Cebu City, Central Visayas                          1
Bolivia                                             1
Brussels                                            1
Buenos Aires, Argentina                             1
Burlington, Vermont                                 1
Calle 10/ Reparto Sambartolo                        1
Cambridge                                           1
Canton, MA                                          1
Caracas, Distrito Capital                           1
Ccs.La Guaira.Falcon.                               1
Hong Kong                                           1
Houston                                             1
Houston Texas                                       1
Minnesota, Minneapolis                              1
London, England                                     1
Los Angeles                                         1
MA                                                  1
Madhya Pradesh, India                               1
Manchester, UK                                      1
Massachusetts, USA                                  1
Melbourne, Victoria                                 1
Miley cyrus backyard tepee                          1
Milton Keynes, England                              1
Mississippi❤️                                       1
Houston, TX                                         1
Montgomery, Alabama USA                             1
México                                              1
NJ | NY | CA | VA | MA | IL                         1
NY                                                  1
#Scotland; born N. England                          1
Nairobi, Kenya                                      1
Nashville, TN                                       1
Natick, MA                                          1
Nepal                                               1
Lima, Perú                                          1
Las Vegas, NV                                       1
Lancaster,  PA                                      1
Lagos Nigeria                                       1
Huntersville, NC                                    1
Hyderabad, India                                    1
Im Mr Meeseeks! Look at me!                         1
In Transit                                          1
In tutto il Mondo                                   1
In your heart if u care                             1
Indiana, USA                                        1
Iselin, NJ + Boston, MA                             1
Islamabad, Pakistan                                 1
Istanbul                                            1
Italy                                               1
Jed.Mad / snap: dabbourbahjat                       1
KSA, Jeddah - Malaysia, KL                          1
Kathmandu, Nepal                                    1
Kocaeli, Türkiye                                    1
Kuala Lumpur, Malaysia                              1
Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur      1
LAGOS, NIGERIA                                      1
LOVE Isla Margarita VENEZUELA!                      1
대한민국 성남시                                            1

/home/marc/Programmation/ge-olympics/env/lib/python2.7/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/marc/Programmation/ge-olympics/env/lib/python2.7/site-packages/ipykernel/__main__.py:32: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)